<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Tiêu đề đăng ký -->
      <h1 class="text-center mb-4">Register</h1>

      <!-- Form đăng ký -->
      <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
        <!-- Tên người dùng -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
            placeholder="Enter your username"
            required
          />
        </div>

        <!-- Địa chỉ email -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
            placeholder="Enter your email"
            required
          />
          <div id="emailHelp" class="form-text text-muted">
            We'll never share your email with anyone else.
          </div>
        </div>

        <!-- Mật khẩu -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
            placeholder="Enter your password"
            required
          />
        </div>

        <!-- Nút Submit -->
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
